.purple {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    141deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(74, 9, 121, 1) 57%,
    rgba(94, 0, 255, 1) 100%
  );
}

.cyan {
  background: rgb(5, 4, 31);
  background: linear-gradient(
    141deg,
    rgba(5, 4, 31, 1) 0%,
    rgba(48, 162, 164, 1) 57%,
    rgba(0, 220, 255, 1) 100%
  );
}

.blue {
  background: rgb(4, 2, 37);
  background: linear-gradient(
    141deg,
    rgba(4, 2, 37, 1) 0%,
    rgba(48, 66, 164, 1) 57%,
    rgba(0, 78, 255, 1) 100%
  );
}

.green {
  background: rgb(4, 2, 37);
  background: linear-gradient(
    141deg,
    rgba(4, 2, 37, 1) 0%,
    rgba(38, 135, 45, 1) 57%,
    rgba(18, 200, 48, 1) 100%
  );
}

.grey {
  background: rgb(25, 27, 26);
  background: linear-gradient(
    141deg,
    rgba(25, 27, 26, 1) 0%,
    rgba(82, 84, 82, 1) 57%,
    rgba(145, 147, 145, 1) 100%
  );
}

.orange {
  background: rgb(116, 23, 10);
  background: linear-gradient(
    144deg,
    rgba(116, 23, 10, 1) 0%,
    rgba(255, 147, 70, 1) 57%,
    rgba(255, 155, 61, 1) 100%
  );
}

.red {
  background: rgb(101, 0, 0);
  background: linear-gradient(
    144deg,
    rgba(101, 0, 0, 1) 0%,
    rgba(224, 59, 59, 1) 57%,
    rgba(156, 24, 24, 1) 100%
  );
}

.nutella {
  background: rgb(32, 0, 0);
  background: linear-gradient(
    144deg,
    rgba(32, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 32%,
    rgba(110, 0, 0, 1) 65%,
    rgba(198, 13, 13, 1) 100%
  );
}
